/*-- Home Page --*/

.videowrap {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

/*-- Sequence Create --*/
.create-sequence-button {
	margin: 10px;
	padding: 15px 20px 20px 20px;
	width: 350;
}