.bg-attempt-color {
  background-color: #eee !important;
}

.activity-progress .navbar-default {
  z-index: 9999;
  border-top: 2px solid rgba(0,0,0,0.1) !important;
  padding: 1em 0px;
  background-color: #f3f3f3 !important;
}
