.measure_check_label {
  font-size: 18px;
  line-height: 30px;
  font-weight: 100;
  margin-left: 1em;
}
.mc_answer {
  padding: 0.5em;
  border-top: 2px solid rgba(255,255,255, 0.3);
  border-left: 2px solid rgba(255,255,255, 0.1);
  border-right: 2px solid rgba(255,255,255, 0.1);
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  margin: 0.3em 0;
}
.mc_answer:hover {
  background-color: rgba(255,255,255, 0.1);
  border-top: 2px solid rgba(255,255,255, 0.6);
  border-bottom: 2px solid rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

@-webkit-keyframes fadeInFeedback { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeInFeedback { from { opacity:0; } to { opacity:1; } }
@keyframes fadeInFeedback { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity: 0;
  -webkit-animation:fadeInFeedback ease-in 1;  /* call our keyframe named fadeInFeedback, use animation ease-in and repeat it only 1 time */
  -moz-animation:fadeInFeedback ease-in 1;
  animation:fadeInFeedback ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
 
  -webkit-animation-duration:0.5s;
  -moz-animation-duration:0.5s;
  animation-duration:0.5s;
}
